h3{
    text-align: center;
    border: 1px solid ;
    background-color: green;
}
ul{
    border: 2px solid ;
    width :500px;
    margin: 10px auto;
    padding: 10px;
}
li{
    list-style-type: none;
    margin: 10px;
    padding: 10px;
}
.markscontainer>input{
    width: 60px;

}
.formcontainer>li{
    border: 1px solid #918e8e;
}
.progresscardtitle{
    text-align: center;
    color: green;
    font-weight: bold;
}
.progresscardblock{
    display: none;
}
.progresscardblock>li{
    border-bottom: 2px dotted maroon;
}